Repository Deps-Tech/deps-registry, changes with the labels that .github/labeler.yml gives for each.
All labels: scripts, dependencies, tooling, ci, documentation

docs: add contributing guide in English and Russian
  CONTRIBUTING.md
Labels: documentation

feat(scripts): add dnoline-bypass dnoline bypass.lua
  scripts/dnoline-bypass/1.0.0/dnoline bypass.lua
Labels: scripts

feat(scripts): add dnoline-bypass manifest
  scripts/dnoline-bypass/1.0.0/dep.json
Labels: scripts

feat(ci): add release workflow and update documentation
  .github/workflows/auto-label.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  web/README.md
  web/package-lock.json
Labels: ci, documentation

ci: optimize workflows
  .github/workflows/build-tool.yml
  .github/workflows/deploy.yml
  .github/workflows/reindex.yml
  .github/workflows/release.yml
  .github/workflows/review.yml
Labels: ci

docs: update contributing guide with the correct registry URL
  CONTRIBUTING.md
Labels: documentation

feat(scripts): add arizona-hud-editor [ARZ] CEF HUD Editor.lua
  scripts/arizona-hud-editor/1.0.0/[ARZ] CEF HUD Editor.lua
Labels: scripts

feat(scripts): add arizona-hud-editor manifest
  scripts/arizona-hud-editor/1.0.0/dep.json
Labels: scripts

ci: update release workflow to include cache for Go dependencies and adjust build path
  .github/workflows/release.yml
  tools/main.go
Labels: tooling, ci

feat(parser): implement hybrid dependency parser with internal module detection
  tools/internal/parser/context.go
  tools/internal/parser/detector.go
  tools/internal/parser/regex.go
  tools/internal/parser/require.go
  tools/internal/parser/resolver.go
Labels: tooling

feat(indexer): use SemVer for version sorting instead of string comparison
  tools/internal/indexer/generator.go
Labels: tooling

feat(cli): add regenerate command for manifest migration
  tools/cmd/tools-cli/regenerate.go
Labels: tooling

feat(registry): add well-known aliases database for package resolution
  tools/internal/registry/aliases.go
Labels: tooling

fix(ffi): remove circular dependency with path
  deps/ffi/1.0.0/dep.json
Labels: dependencies

feat(versioning): add SemVer support for proper version comparison
  tools/go.mod
  tools/go.sum
  tools/internal/versioning/semver.go
Labels: tooling

feat(manifest): add provides field for package aliases
  tools/internal/manifest/types.go
Labels: tooling

refactor(manifests): regenerate all manifests with improved dependency parser
  deps/cjson/1.0.0/dep.json
  deps/copas/1.0.0/dep.json
  deps/dx9/1.0.0/dep.json
  deps/events/1.0.0/dep.json
  deps/ffi/1.0.0/dep.json
  deps/imcustom/1.0.0/dep.json
  deps/imgui-addons/1.0.0/dep.json
  deps/imgui/1.0.0/dep.json
  deps/init/1.0.0/dep.json
  deps/json2lua/1.0.0/dep.json
  deps/ltn12/1.0.0/dep.json
  deps/lua2json/1.0.0/dep.json
  deps/luasocket/1.0.0/dep.json
  deps/lub/1.0.0/dep.json
  deps/mime/1.0.0/dep.json
  deps/mimgui/1.0.0/dep.json
  deps/mimtoasts/1.0.0/dep.json
  deps/path/1.0.0/dep.json
  deps/raklua/1.0.0/dep.json
  deps/requests/1.0.0/dep.json
  deps/rkeys/1.0.0/dep.json
  deps/samemory/1.0.0/dep.json
  deps/samp/1.0.0/dep.json
  deps/sflua/1.0.0/dep.json
  deps/smartthreads/1.0.0/dep.json
  deps/socket/1.0.0/dep.json
  deps/ssl/1.0.0/dep.json
  deps/windows/1.0.0/dep.json
  deps/xml/1.0.0/dep.json
  scripts/justice-helper/2.2/dep.json
Labels: scripts, dependencies

feat(cli): add dynamic require warnings and SemVer to add command
  tools/cmd/tools-cli/add.go
Labels: tooling

feat(validator): add cycle and duplicate detection to validate command
  tools/cmd/tools-cli/validate.go
Labels: tooling

feat(validator): add cycle and duplicate detection for dependency graph
  tools/internal/validator/cycles.go
  tools/internal/validator/duplicates.go
Labels: tooling

chore(workflows): update ci
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/reindex.yml
  .github/workflows/review.yml
  tools/cmd/tools-cli/version.go
Labels: tooling, ci

feat(ci): optimize workflows
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/reindex.yml
  .github/workflows/review.yml
Labels: ci

feat(cli): integrate CDN registry with duplicate detection
  tools/cmd/tools-cli/add.go
  tools/go.mod
  tools/internal/registry/client.go
  tools/internal/registry/config.go
  tools/internal/registry/types.go
Labels: tooling

fix(registry): update environment variable for CDN URL retrieval
  tools/internal/registry/config.go
Labels: tooling

feat(deps): add builtin MoonLoader modules inicfg and memory
  deps/inicfg/1.0.0/dep.json
  deps/memory/1.0.0/dep.json
Labels: dependencies

fix: use CDN URL instead of S3 direct URL in deploy workflow
  .github/workflows/deploy.yml
Labels: ci

feat(scripts): add fake-documents Fake Documents 1.2.lua
  scripts/fake-documents/1.0/Fake Documents 1.2.lua
Labels: scripts

feat(scripts): add fake-documents manifest
  scripts/fake-documents/1.0/dep.json
Labels: scripts

ci(deploy): update CDN deployment
  .github/workflows/deploy.yml
Labels: ci

ci(deploy): remove AWS credentials configuration
  .github/workflows/deploy.yml
Labels: ci

.github/labeler.yml:

scripts:
  - changed-files:
    - any-glob-to-any-file: 'scripts/**'

dependencies:
  - changed-files:
    - any-glob-to-any-file: 'deps/**'

tooling:
  - changed-files:
    - any-glob-to-any-file: 'tools/**'

ci:
  - changed-files:
    - any-glob-to-any-file: '.github/**'

documentation:
  - changed-files:
    - any-glob-to-any-file: 
      - '*.md'
      - 'docs/**'
